<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Capitals backend</title>
</head>

<body>
    <div>
        Capitals backend, by Aliaksandr Babrouski.
    </div>
</body>

</html>