<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Capitals backend</title>
</head>

<body>
    <div>
        <h1>Capitals server, by Aliaksandr Babrouski.</h1>   
        <br />
        <a href="https://play.google.com/store/apps/details?id=com.test.capitals"><h3>App for android</h3> </a>
        <br />
        <h2>Source code </h2>
        <a href="https://github.com/Mirage74/cap-srv"><h3>Backend</h3> </a>
        <a href="https://github.com/Mirage74/capitals-java"><h3>Frontend</h3> </a>
    </div>
</body>

</html>